In [1]:
import pandas as pd

In [4]:
df_grupos = pd.read_csv('../dados/grupos.csv')
df_grupos.head(10)

  grupo                 partidas
0     A          QATAR x ECUADOR
1     A    SENEGAL x NETHERLANDS
2     A          QATAR x SENEGAL
3     A    NETHERLANDS x ECUADOR
4     A      NETHERLANDS x QATAR
5     A        ECUADOR x SENEGAL
6     B           ENGLAND x IRAN
7     B    UNITED STATES x WALES
8     B             WALES x IRAN
9     B  ENGLAND x UNITED STATES

In [7]:
df_grupos["casa"] = df_grupos["partidas"].apply(lambda x: x.split(" x ")[0])
df_grupos["visitante"] = df_grupos["partidas"].apply(lambda x: x.split(" x ")[1])
df_grupos.drop("partidas", axis=1, inplace=True)
df_grupos.head(10)

  grupo           casa      visitante
0     A          QATAR        ECUADOR
1     A        SENEGAL    NETHERLANDS
2     A          QATAR        SENEGAL
3     A    NETHERLANDS        ECUADOR
4     A    NETHERLANDS          QATAR
5     A        ECUADOR        SENEGAL
6     B        ENGLAND           IRAN
7     B  UNITED STATES          WALES
8     B          WALES           IRAN
9     B        ENGLAND  UNITED STATES

In [14]:
df_grupos.to_json("../dados/grupos.json", orient="records")

In [13]:
insert_doc_grupo = """
            {
                "grupo": """ + str(list(df_grupos["grupo"])) + """,
                "casa": """ + str(list(df_grupos["casa"])) + """,
                "visitante": """ + str(list(df_grupos["visitante"])) + """
            }
"""
print(insert_doc_grupo)

            {
                "grupo": ['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'C', 'C', 'C', 'C', 'C', 'C', 'D', 'D', 'D', 'D', 'D', 'D', 'F', 'F', 'F', 'F', 'F', 'F', 'E', 'E', 'E', 'E', 'E', 'E', 'G', 'G', 'G', 'G', 'G', 'G', 'H', 'H', 'H', 'H', 'H', 'H', 'Oitavas de Final', 'Oitavas de Final', 'Oitavas de Final', 'Oitavas de Final', 'Oitavas de Final', 'Oitavas de Final', 'Oitavas de Final', 'Oitavas de Final', 'Quartas de Final', 'Quartas de Final', 'Quartas de Final', 'Quartas de Final'],
                "casa": ['QATAR', 'SENEGAL', 'QATAR', 'NETHERLANDS', 'NETHERLANDS', 'ECUADOR', 'ENGLAND', 'UNITED STATES', 'WALES', 'ENGLAND', 'WALES', 'IRAN', 'ARGENTINA', 'MEXICO', 'POLAND', 'ARGENTINA', 'POLAND', 'SAUDI ARABIA', 'DENMARK', 'FRANCE', 'TUNISIA', 'FRANCE', 'AUSTRALIA', 'TUNISIA', 'MOROCCO', 'BELGIUM', 'BELGIUM', 'CROATIA', 'CROATIA', 'CANADA', 'GERMANY', 'SPAIN', 'JAPAN', 'SPAIN', 'JAPAN', 'COSTA RICA', 'SWITZERLAND', 'BRAZIL', 'CAMEROON', 'BRAZIL', 'SERBIA', 'CAMEROON', 'URUGUAY', 'PORTUGAL', 'KOREA REPUBLIC', 'PORTUGAL', 'GHANA', 'KOREA REPUBLIC', 'NETHERLANDS', 'ARGENTINA', 'FRANCE', 'ENGLAND', 'JAPAN', 'BRAZIL', 'MOROCCO', 'PORTUGAL', 'CROATIA', 'NETHERLANDS', 'MOROCCO', 'ENGLAND'],
                "visitante": ['ECUADOR', 'NETHERLANDS', 'SENEGAL', 'ECUADOR', 'QATAR', 'SENEGAL', 'IRAN', 'WALES', 'IRAN', 'UNITED STATES', 'ENGLAND', 'UNITED STATES', 'SAUDI ARABIA', 'POLAND', 'SAUDI ARABIA', 'MEXICO', 'ARGENTINA', 'MEXICO', 'TUNISIA', 'AUSTRALIA', 'AUSTRALIA', 'DENMARK', 'DENMARK', 'FRANCE', 'CROATIA', 'CANADA', 'MOROCCO', 'CANADA', 'BELGIUM', 'MOROCCO', 'JAPAN', 'COSTA RICA', 'COSTA RICA', 'GERMANY', 'SPAIN', 'GERMANY', 'CAMEROON', 'SERBIA', 'SERBIA', 'SWITZERLAND', 'SWITZERLAND', 'BRAZIL', 'KOREA REPUBLIC', 'GHANA', 'GHANA', 'URUGUAY', 'URUGUAY', 'PORTUGAL', 'UNITED STATES', 'AUSTRALIA', 'POLAND', 'SENEGAL', 'CROATIA', 'KOREA REPUBLIC', 'SPAIN', 'SWITZERLAND', 'BRAZIL', 'ARGENTINA', 'PORTUGAL', 'FRANCE']
            }

In [16]:
df_selecao = pd.read_csv('../dados/selecoes.csv')

In [19]:
df_selecao = df_selecao[df_selecao["grupo"].isin(["A", "B", "C", "D", "E"])]
df_selecao.to_json("../dados/selecoes.json", orient="records")